{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.85">
  <link rel="icon" type="text/css" href="{% static 'images/logo-1.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'jquery/demo.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <style type="text/css">body{
    background-color: #ebedfa;
  }
</style>

 
</head>
<body>
   /* {% if request.path  in '/tregister' and request.path  in '/tlogin'  %}

 
  {% endif %}*/

 {% include 'html/navbar.html' %}
  {% block content %}
  {% endblock %}
</body>
</html>